.page3placelist{
    margin: 0 0.69% 1%;
    overflow: hidden;
    width: max-content;
    list-style: none;
}
.likeinput{
    display: none;
}
.custom{
    padding: 0.65em 0;
    display: block;
    border-radius: inherit;
    border: none;
    border: 1px solid #e5e5e5;
    border-radius: 0.7em;
    color: #666;
}
.like{
    padding : .5em;
}
.likeplace{
    padding-right: 1em;

}