img{
    vertical-align: middle;
}

.button{
    border: 1px solid #cdd0d2;
    border-radius: 8px;
    margin: 10px;
    padding: 1em;

}

.clicked{
    background-color: #F08080;
}
label{
    border: 1px solid #F08080;
    border-radius: 8px;
}