.district_toggle{
    width:40%;
    /*position: absolute;*/
    vertical-align: middle;
    /*display: inline;*/
}
.gyeongi{
    cursor:pointer;
    display:block;
    background:#eee;
    text-align:center;
    border:1px solid #ccc;
}
.district {
    cursor:pointer;
    display:block;
    background:#eee;
    text-align:center;
    border:1px solid #ccc;
}
#gyeongi_button,
#gyeongi_contents {
    height:0;
    overflow:hidden;
    position:absolute;
}
#gangwon_button,
#gangwon_contents {
    height:0;
    overflow:hidden;
    position:absolute;
}

#gyeongi_button:checked + #gyeongi_contents {
    height:auto;
    position:relative;
    border:1px solid #ccc;
    border-top:0;
    padding:10px;
}
#gangwon_button:checked + #gangwon_contents {
    height:auto;
    position:relative;
    border:1px solid #ccc;
    border-top:0;
    padding:10px;
}
.close_button {
    cursor:pointer;
    position:absolute;
    top:5px;
    right:5px;
    padding:3px;
    font-size:10px;
    line-height:1;
    background:#555;
    color:#fff;
}
#구리:hover{
    font-size: 25px;
}

/*.pin{*/
/*    position: relative;*/
/*    left: 77%;*/
/*    top: 95px;*/
/*    width: 2%;*/
/*}*/
/*#구리:hover .pin {*/
/*    position: relative;*/
/*    left: 77%;*/
/*    top: 95px;*/
/*    width: 20%;*/
/*}*/

.map{
    /*position: absolute;*/
    position: -webkit-sticky;
    position: sticky;
    float:right;
    width:35%;
    height: 50%;
    top: 13%;
    left:100px;
}

.pin{
    position: sticky;
    width: 3%;
    top: 53%;
    left: 80%;
}
/*.map:hover ~ .district_toggle #수원{*/
/*    background: aqua;*/
/*    }*/

#수원:hover .district{
    background: aqua;
}