.district_toggle{
    width:40%;
    /*position: absolute;*/
    vertical-align: middle;
    /*display: inline;*/
}
label {
    vertical-align: middle;
    padding-top: 1%;
    padding-bottom: 1%;
}

.district {
    cursor:pointer;
    display:block;
    background:#eee;
    text-align:center;
    border:1px solid #ccc;
}

.map{
    /*position: absolute;*/
    position: -webkit-sticky;
    position: fixed;
    float:right;
    width:25%;
    /*height: 50%;*/
    top: 13%;
    /*left:100px;*/
    right:10%;
}


.citylist:hover{
    background: #F08080;
}

.citylist{
    cursor: pointer;
}

.gotosecondbtn{
    /*이거 어떻게할지 생각해야할듯 ㅠㅠ*/
    position: fixed;
    float:right;
}