.App {
  /*display: inline-flex;*/

  flex-direction: column;
  margin-bottom: 20px;
}

.App input {
  border: 2px solid #f08080;
  margin-top: 1%;
  width: 26%;
  height: 5%;
  font-size: 15px;
  border-radius: 15px;
  padding-left: 2%;
  margin-left: 1%;
}

p {
  font-size: 15px;
  line-height: 100%;
}

.container {
  margin-top: 1%;
  width: 25%;
  height: 13%;
  overflow: scroll;
  padding-left: 2%;
}
