img {
  vertical-align: middle;
}

.button {
  border-radius: 20px;
  box-shadow: 1px 4px 0 rgb(0, 0, 0, 0.5);
  margin: 10px;
  padding: 1em;
  cursor: pointer;
  background-color: #ffffff;
}

.button:hover {
  background-color: #ffa9a9;
}

@media screen and (max-width: 600px) {
  .button {
    margin: 0.2em;
    padding: 0.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .category_box {
    text-align: center;
  }
}

.clicked {
  border-radius: 20px;
  box-shadow: 1px 4px 0 rgb(0, 0, 0, 0.5);
  margin: 10px;
  padding: 1em;
  background-color: #ffa9a9;
}
