.App {
  /*display: inline-flex;*/
  flex-direction: column;
  margin-bottom: 20px;
  margin-top : 20px;
  /*padding-left : 15vw;*/
  /*//*/
}

.App input {
  border: 2px solid #f08080;
  margin-top: 1%;
  width: 15em;
  height: 5%;
  font-size: 15px;
  border-radius: 15px;
  padding-left: 2%;
  margin-left: 3vw;
}

p {
  font-size: 15px;
  line-height: 100%;
}

.container {
  margin-top: 1%;
  /*width: 20vw;*/
  width: 14em;
  height: 13%;
  overflow: scroll;
  padding-left: 2%;
  margin-left: 3vw;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .App input {
    width: 15em;
  }
  .container{
    width: 14em;
  }
}
