/* img {
    vertical-align: middle;
}

.button {
    border-radius: 20px;
    box-shadow: 1px 4px 0 rgb(0, 0, 0, 0.5);s
    margin: 10px;
    padding: 1em;
    cursor: pointer;
    background-color: #ffffff;
}
.button:hover {
    background-color: #ffa9a9;
}


@media screen and (max-width: 1024px) {
    .button{
        margin:7px;
    }
}
@media screen and (max-width: 700px) {
    .button {
        margin: 4px;
        padding: 0.8em;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }
    .category_box{
        margin-left: 0;
    }
}
.category_p{
    font-size: 15px;
}
@media screen and (max-width: 606px) {
    .category_p{
        font-size: 10px;
    }
    .category_box{
        margin-left: 0;
        margin-bottom: 1em;
    }
    .button{
        padding:0.5em;
    }
}
@media screen and (max-width: 450px) {
    .category_p{
        font-size: 8px;
    }
    .category_box{
        display: grid !important;
        text-align: center;
    }
} */

/*@media screen and (max-width: 600px) {*/
/*.button {*/
/*    margin: 0.2em;*/
/*    padding: 0.25em;*/
/*    padding-top: 0.5em;*/
/*    padding-bottom: 0.5em;*/

/*}*/
/*.category_box {*/
/*    text-align: center;*/
/*}*/

.clicked {
  border-radius: 20px;
  box-shadow: 1px 4px 0 rgb(0, 0, 0, 0.5);
  margin: 10px;
  padding: 1em;
  background-color: #ffa9a9;
}
