@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
* {
  font-family: 'Godo' !important;
  letter-spacing: 1px !important;
}

.map {
  position: -webkit-sticky;
  position: fixed;
  float: right;
  width: 25%;
  right: 18vw;
  z-index: -11;
}

$bg: #f3f8fa;
$white: #fff;
$black: #f08080;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, 0.076, 1)) {
  transition: $property $duration $ease;
}

.gotosecondbtn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 0.5em;
  margin-left: 2.5em;
  &.gotosecondbtn {
    width: 10em;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 2rem;
      height: 2rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.2rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.25rem 0;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      border: 0.5px solid #d9d9d9;
      border-radius: 50px;
      box-shadow: 4px 4px 4px -1px #f08080;
      border: 1px solid #f08080;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white !important;
    }
  }
}

.district_toggle {
  position: relative;
  width: 40%;
  vertical-align: middle;
  margin-left: 4em;
}
label {
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}
.district {
  cursor: pointer;
  display: block;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 13px;
  width: 15em;
  margin: 0.3em;
  margin-left: 10%;
}
#selecteddistrict {
  font-weight: bold;
  border: 2px solid #f08080;
}
.district_name {
  color: #3a3945;
}
.citylist {
  cursor: pointer;
  margin-left: 16%;
  width: 10em;
}
.city_li {
  list-style: none;
  padding-bottom: 0.3em;
  color: #3a3945;
}
.city_li:hover {
  color: #3a3945;
  font-size: 1.2em;
  transition: 300ms ease all;
}
.station_ul {
  margin-bottom: 0.8em;
  margin-top: 0.3em;
  padding-left: 20px;
}
.station_li {
  list-style: none;
  color: #3a3945;
}

@media screen and (max-width: 1230px) {
  .map {
    top: 23%;
  }
}
@media screen and (max-width: 700px) {
  .map {
    display: none;
  }
}
