@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'InfinitySans-RegularA1' !important;
}
.map {
  /* position: absolute; */
  position: -webkit-sticky;
  position: fixed;
  float: right;
  width: 25%;
  /* height: 50%; */
  top: 13%;
  right: 15vw;
  /* left: 100px; */
}

.district_toggle {
  position: relative;
  width: 40%;
  /*position: absolute;*/
  vertical-align: middle;
  /*display: inline;*/
  /*padding-left: 13vw;*/
  /*///*/
}
label {
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}
.district {
  cursor: pointer;
  display: block;
  /* background: #eee; */
  text-align: center;
  border: 2px solid #f08080;
  border-radius: 30px;
  width: 15em;
  margin: 0.3em;
  margin-left: 10%;
}

.citylist:hover {
  background: #ffc0ba;
}
.citylist {
  cursor: pointer;
  margin-left: 16%;
}
.city_li {
  list-style: circle;
  padding-bottom: 0.3em;
}
.station_ul {
  /*list-style: circle;*/
}

