form.inputForm {
  margin-top: 1.5em;
}
.startdisplay {
  text-align: center;
}
.searchstart {
  display: inline-block;
  width: 30em;
  height: 3em;
  font-size: 12px;
  padding-left: 2%;
  margin-bottom: 0.3em;
  margin-left: 1em;
  margin-top: 0.5%;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgb(0 0 0 / 15%);
  background: #ffffff;
  transition: all 0.3s ease;
  border-color: #dedede;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.startbutton {
  margin-left: 10px;
  height: 30px;
  border: none;
  background-color: transparent;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 14px -1px rgb(0 0 0 / 60%);
  width: 30px;
}

.startbutton img {
  width: 18px;
  height: 18px;
}

@media (max-width: 600px) {
  .searchstart {
    font-size: 10px;
    width: 18em;
    margin-top: 0;
    height: 2.5em;
  }
  .startbutton {
    padding: 0 !important;
    margin-left: 6px;
    margin-right: 6px;
    width: 20px;
    height: 20px;
  }
  .startbutton img {
    width: 15px;
    height: 15px;
  }
}
