.title {
  border-color: #3a3945;
  /*border:1px solid;*/
  // margin-top: 2em;
  text-align: center;
}
.carousel {
  margin-bottom: 0.5em;
}
.top5_carousel_container {
  position: relative;
  /*transform: translate(-0vw);*/
  height: 30vw;
}

.carousel_card_item {
  /*width : 100vw;*/
  width: 50%;
  /*float:left;*/
  display: inline-table;
  position: absolute;
  background-color: white;
  border: 2px solid #d7d7d7;
}

.carousel_card_item img {
  width: 100%;
  transition: 0.2s;
}

.carousel-img {
  height: 25vw;
}

.carousel-btn {
  display: inline-block;
  /*height: .875rem;*/
  border-radius: 30%;
  margin: 0 0.25rem;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #ebf0f3;
  //width: 1.3em;
}

button#btn_now {
  box-shadow: 0 0 5px 0 #b7b7b7;
  width: 2.5rem;
  border-radius: 8px;
  background: #f4978e;
}

.carousel-card-pager-zoomable {
  position: relative;
  text-align: center;
  line-height: 0;
  /*width: -webkit-fit-content;*/
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  // padding-top: 3.3rem;
  padding-top: 7em;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 425px) {
  .carousel-card-pager-zoomable {
    padding-top: 5em;
  }
}
@media screen and (min-width: 770px) {
  .carousel-card-pager-zoomable {
    padding-top: 3em;
  }
}
@media screen and (min-width: 975px) {
  .carousel-card-pager-zoomable {
    padding-top: 1vw;
  }
}

.carousel-card-mask {
  text-align: center;
}
.carousel_span{
  word-wrap:break-word;
}

.leftback {
  transform: translateX(0vw) translateY(1vh) scale(0.6);
  opacity: 0.2;
  z-index: -3;
  transition: 0.5s;
}
.rightback {
  transform: translateX(34vw) translateY(1vh) scale(0.6);
  opacity: 0.2;
  z-index: -3;
  transition: 0.5s;
}
.center {
  transform: translateX(17vw) scale(0.8);
  transition: 0.5s;
  z-index: -1;
}
.left {
  transform: translateX(8vw) scale(0.7);
  opacity: 0.55;
  z-index: -2;
  transition: 0.5s;
}
.right {
  transform: translateX(26vw) scale(0.7);
  opacity: 0.55;
  z-index: -2;
  transition: 0.5s;
}

/*Thumbnail*/

.youtubebutton {
  display: inline-block;
}
.carousel-card-mask p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.intro {
  width: 100%;
  height: 30px;
}
.intro h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 14px;
  color: #222;
  text-align: center;
  margin-top: 10px;
}
.intro a {
  color: #e74c3c;
  font-weight: bold;
  letter-spacing: 0;
}
.intro img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.button-4 {
  width: 140px;
  height: 50px;
  border: 2px solid #f4978e;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 0 40px 50px;
}
.button-4 a {
  font-size: 16px;
  color: #f4978e;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}
.eff-4 {
  width: 140px;
  height: 50px;
  left: -140px;
  background: #f4978e;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
.button-4:hover .eff-4 {
  left: 0;
}
.button-4:hover a {
  color: #fff;
}

#gotothird_div {
  margin: 0 auto;
  margin-top: 1px;
  margin-bottom: 10px;
  text-align: center;
}
#gotothird_link {
  margin-left: 1em;
}

$bg: #f3f8fa;
$white: #fff;
$black: #f08080;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, 0.076, 1)) {
  transition: $property $duration $ease;
}

.nextbutton {
  margin-left: 10%;
}
.gotothirdbutton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 0.5em;
  &.gotothirdbutton {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 2rem;
      height: 2rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.2rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.25rem 0;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      border: 0.5px solid #d9d9d9;
      border-radius: 50px;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white !important;
    }
  }
}

@supports (display: grid) {
  #gotothirdbtn {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}

.top5mapevent {
  margin: auto;
  display: block;
}
.top5mapevent_responsive {
  display: none;
}
@media screen and (max-width: 675px) {
  .top5mapevent {
    display: none;
  }
  .top5mapevent_responsive {
    position: relative;
    width: 90%;
    height: 70vh;
    margin: auto;
    display: block;
  }

  .carousel_card_item {
    display: inline-block;
  }
  .leftback {
    transform: translateX(0%) translateY(-2vh) scale(0.73);
    opacity: 0.2;
    z-index: -3;
    transition: 0.5s;
  }
  .rightback {
    transform: translateX(100%) translateY(-2vh) scale(0.73);
    opacity: 0.2;
    z-index: -3;
    transition: 0.5s;
  }
  .center {
    transform: translateX(50%) scale(1);
    transition: 0.5s;
    z-index: -1;
  }
  .left {
    transform: translateX(20%) scale(0.83);
    opacity: 0.75;
    z-index: -2;
    transition: 0.5s;
  }
  .right {
    transform: translateX(80%) scale(0.83);
    opacity: 0.75;
    z-index: -2;
    transition: 0.5s;
  }
  .topname_p {
    font-size: 0.5em !important;
  }
  .top5phone_p {
    font-size: 0.7em !important;
  }
  .top5add_p {
    font-size: 0.1em !important;
  }
}
.category_box {
  display: inline-block;
  margin-left: 1em;
}

@media screen and (max-width: 350px) {
  .category_box {
    margin: 0;
  }
  .topname_p {
    font-size: 0.5em !important;
  }
  .top5phone_p {
    font-size: 0.7em !important;
  }
  .top5add_p {
    font-size: 0.1em !important;
  }
}
